:root {
  /*https://www.colourlovers.com/palette/4881049/Field_Of_Gold*/
  /* --color-1: #795C5F;
  --color-2: #A69658;
  --color-3: #D9B26F;
  --color-4: #FADF7F;
  --color-5: #F2E29F; */
  --color-1: #333;
  --color-2: #555;
  --color-3: #777;
  --color-4: #999;
  --color-5: #aaa;
}

@font-face {
  font-family: CoffeeTin;
  src: url(./media/fonts/CoffeeTin\ Initials.ttf);
  /*https://www.1001freefonts.com/coffee-tin.font*/
}

body {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
}

/* - - - header related - - - */

header {
  display: grid;
  grid-template-columns: repeat(3, auto);
  background-color: var(--color-2);
  padding: .5rem;
  filter: drop-shadow(0rem 0rem .5rem black);
}

h1 {
  font-size: 2.5em;
  font-weight: 600;
  font-family: CoffeeTin, 'Courier New', Courier, monospace;
  letter-spacing: -.1em;
}

input[type="search"] {
  border-radius: 1rem;
  border: none;
  background-color: var(--color-3);
  box-shadow: inset .25rem .25rem .5rem rgba(0, 0, 0, .75),
    .25rem .25rem .25rem rgba(255, 255, 255, .25);
  padding: 0 1rem;
  font-size: 1.25em;
}



/* - - - created items related - - - */

/* cards container */
main {
  display: grid;
  overflow-y: auto;
  background-color: var(--color-5);
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(400px, 1fr));
  /* grid-template-rows: repeat(2, 1fr); */
  grid-auto-rows: minmax(400px, 1fr);
  gap: 1rem;
  padding: 1rem;
  scrollbar-width: thin;
  scrollbar-color: var(--color-1) var(--color-3);
}

/* card design */
.card {
  position: relative;
  display: grid;
  grid-template: 3fr 2fr 1fr 1fr / 1fr;
  grid-template-areas:
    "title"
    "author"
    "pages"
    "edit";
  padding: 1.5rem 1.5rem 1.5rem 2rem;
  gap: 1.5rem;
  background: linear-gradient(to right,
    #444 0,
    #555 .25rem,
    #555 .5rem,
    #444 1rem,
    #444 1.25rem,
    #777 1.5rem,
    #888 1.5rem,
    #888);
  border-radius: .3rem 1rem 1rem .3rem;
  box-shadow: .25rem .25rem 1rem #333;
  transition: filter ease-out 250ms;
} .card:hover {
  filter: drop-shadow(0 0 .5rem white);
  z-index: 1;
}
/* card content, shared properties */
.card * {
  align-self: center;
  text-align: center;
  justify-self: center;
}
.title {
  grid-area: title;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 800;
  font-size: 2.5em;
}
.author {
  grid-area: author;
  font-size: 2em;
  font-family: 'Times New Roman', Times, serif;
  justify-self: center;
}
.pages {
  grid-area: pages;
  font-size: 1.25em;
}
.edit {
  grid-area: edit;
  justify-self: right;
  width: 4rem;
  aspect-ratio: 1/1;
  border: none;
  border-radius: 50%;
  background-color: #bbb;
  box-shadow: inset .1rem .1rem .5rem rgba(0, 0, 0, .75),
    .1rem .1rem .25rem rgba(255, 255, 255, .1);
    transition: box-shadow 200ms, background-color 300ms 300ms;
  } .edit:hover {
  box-shadow: inset .1rem .1rem .5rem rgba(255, 255, 255, .1),
    .1rem .1rem .25rem rgba(0, 0, 0, .5);
  background-color: #ddd;
}
.edit > img {
  width: 100%;
  transition: width 200ms, transform 50ms;
}
.edit:hover > img {
  width: 100%;
  transform: translate(-.1rem, -.1rem);
}

/* card read ribbon */
.card.read::before {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  background-color: royalblue;
  box-shadow: inset 0 1px 5px blue;
  width: 100px;
  height: 100px;
  clip-path: polygon(0 75%, 0 0, 100% 100%, 25% 100%);
}
.card.read::after {
  content: "READ";
  font-weight: 600;
  position: absolute;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.5em;
  left: 3px;
  bottom: 23px;
  transform: rotate(45deg);
}


/* for testing */

** {
  outline: 1px solid royalblue;
}