:root {
  --color-1: hsl(215, 70%, 50%);
  --color-1-dark: hsl(215, 70%, 30%);
  --color-2: hsl(115, 70%, 35%);
  --color-2-light: hsl(115, 70%, 45%);
  --color-2-dark: hsl(115, 50%, 30%);
  --color-3: hsl(215, 70%, 70%);
  --color-3-light: hsl(215, 70%, 80%);
  --color-3-dark: hsl(215, 70%, 60%);
  --color-4: #aaa;
  --color-4-light: #ccc;
  --color-4-dark: #777;
  --color-5: orangered;
  --color-5-light: orange;
  --color-5-dark: red;

  --color-scrollbar-1: #666;
  --color-scrollbar-2: #333;

  --color-ribbon: royalblue;
  --color-ribbon-dark: darkblue;

  --box-shadow-1-in:
    inset .25rem .25rem .5rem rgba(0, 0, 0, .75),
    .25rem .25rem .25rem rgba(255, 255, 255, .25);
  --box-shadow-1-out:
    .25rem .25rem .5rem rgba(0, 0, 0, .75),
    inset .25rem .25rem .25rem rgba(255, 255, 255, .25);
  --box-shadow-edit:
  inset .05rem .05rem .5rem rgba(0, 0, 0, .75),
  .05rem .05rem .25rem rgba(255, 255, 255, .1);
  --box-shadow-edit-out:
  inset .1rem .1rem .5rem rgba(255, 255, 255, .1),
  .1rem .1rem .25rem rgba(0, 0, 0, .5);
  --box-shadow-edit-in:
    inset .15rem .15rem .5rem rgba(0, 0, 0, .75),
    .15rem .15rem .25rem rgba(255, 255, 255, .1);
  --box-shadow-input:
    inset .05rem .05rem .5rem rgba(0, 0, 0, .75),
    .05rem .05rem .25rem rgba(255, 255, 255, .05);
  
  --shadow-header: inset 0 -.25rem .5rem rgba(0, 0, 0, .5);
  --shadow-card: .25rem .25rem .5rem #333;
  --shadow-ribbon: inset 0 1px 5px rgba(0, 0, 0,.70);
  
  --card-gradient: linear-gradient(to right,
    #444 0,#555 .25rem,#555 .5rem,#444 1rem,#444 1.25rem, /*spine*/
    #777 1.5rem,#888 1.5rem,#888 /*cover*/
  );
}

@font-face {
  font-family: adler;
  src: url(./media/fonts/Adler.ttf);
}
@font-face {
  font-family: typeo;
  src: url(./media/fonts/typeo___.ttf);
}

body {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
}

/* - - - header related - - - */

header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  background: linear-gradient(to top, var(--color-1-dark) 0, var(--color-1) 60%);
  padding: .75rem 5vw;
  box-shadow: var(--shadow-header);
}

header h1 {
  font-size: 2.5em;
  font-weight: 600;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  justify-self: center;
  white-space: nowrap;
}

header input[type="search"] {
  --transition: ease-in-out 250ms;
  justify-self: left;
  width: 100%;
  border-radius: 1rem;
  border: none;
  background: var(--color-3) url(./media/icons/search.png) no-repeat right;
  background-size: contain;
  box-shadow: var(--box-shadow-1-in);
  padding: .25rem 3rem .25rem 1rem;
  font-size: 1.25em;
  transition:
    box-shadow var(--transition),
    width var(--transition),
    background-color var(--transition),
    border-radius var(--transition) 150ms;
} header input[type="search"]:focus {
  width: 100%;
  outline: none;
  background-color: var(--color-3-light);
  background-image: url(./media/icons/search-active.png);
} header input[type="search"]:placeholder-shown:not(:focus) {
  box-shadow: var(--box-shadow-1-out);
  width: 3rem;
  border-radius: 2rem;
  padding: .5rem 1rem;
} header input[type="search"]:placeholder-shown:hover:not(:focus) {
  background-color: var(--color-3-light);
  transition: none;
  cursor: context-menu;
}
  
header button {
  justify-self: right;
  display: flex;
  gap: .5em;
  align-items: center;
  padding: .5rem 1rem;
  background-color: var(--color-2);
  box-shadow: var(--box-shadow-1-out);
  border: none;
  border-radius: 1rem;
} header button:hover {
  background-color: var(--color-2-light);
} header button:active {
  box-shadow: var(--box-shadow-1-in);
  background-color: var(--color-2-dark);
} header button * {
  height: 1.25em;
  font-size: 1.5em;
  white-space: nowrap;
} header button:active * {
  transform: translate(.1rem, .1rem);
}


/* - - - created items related - - - */

/* cards container */
main {
  position: relative;
  display: grid;
  overflow-y: auto;
  background: url(./media/images/wallpapers/windows-xp.jpg) no-repeat hsl(200, 60%, 45%) center;
  background-size: cover;
  grid-template-columns: repeat(auto-fit, minmax(300px, 350px));
  justify-content: space-around;
  /* grid-template-rows: repeat(auto-fill, minmax(450px, 1fr)); */
  grid-template-rows: repeat(auto-fill, minmax(400px, 450px));
  grid-auto-rows: minmax(400px, 1fr);
  gap: 2rem;
  padding: 1rem;
  scrollbar-width: thin;
  scrollbar-color: var(--color-scrollbar-1) var(--color-scrollbar-2);
}
main::-webkit-scrollbar-thumb {
  background-color: var(--color-scrollbar-1);
  border-radius: 10px;
}
main::-webkit-scrollbar {
  width: 8px;
  background-color: var(--color-scrollbar-2);
}
main.no-cards::after {
  position: absolute;
  content: "";
  background: url(./media/images/empty.png) no-repeat;
  background-position: top right;
  background-size: 50%;
  inset: 1rem 4rem;
}

/* card design */
.card {
  position: relative;
  display: grid;
  grid-template: 3fr 2fr 1fr auto / 1fr;
  grid-template-areas:
    "title"
    "author"
    "pages"
    "edit";
  place-items: center;
  padding: 1.5rem 1.5rem 1.5rem 2rem;
  gap: 1.5rem;
  background: var(--card-gradient);
  border-radius: .3rem 1rem 1rem .3rem;
  box-shadow: var(--shadow-card);
  /* transition: filter ease-out 250ms; */
  text-align: center;
}
/* card content */
.card .title {
  grid-area: title;
  font-family: adler, 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 2.5em;
}
.card .author {
  grid-area: author;
  font-size: 2em;
  font-family: typeo, 'Times New Roman', Times, serif;
  font-weight: 400;
  justify-self: center;
}
.card .pages {
  grid-area: pages;
  font-family: typeo, 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 1.25em;
}
/* edit button */
.card .edit {
  /* --delay: 50ms; */
  grid-area: edit;
  justify-self: right;
  width: 2.5rem;
  aspect-ratio: 1/1;
  border: none;
  border-radius: 50%;
  background-color: var(--color-4);
  box-shadow: var(--box-shadow-edit);
  /* transition:
    box-shadow 100ms var(--delay),
    background-color 150ms var(--delay); */
} .card .edit:hover {
  box-shadow: var(--box-shadow-edit-out);
  background-color: var(--color-4-light);
}
.card .edit > img {
  width: 100%;
  /* transition:
    width 200ms var(--delay),
    transform 50ms var(--delay); */
}
.card .edit:hover > img {
  width: 100%;
  transform: translate(-.05rem, -.05rem);
}
.card .edit:active > img {
  width: 100%;
  transform: translate(.05rem, .05rem);
}
.card .edit:active {
  background-color: var(--color-4-dark);
  box-shadow: var(--box-shadow-edit-in);
}

/* card read ribbon */
.card.read::before {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  background-color: var(--color-ribbon);
  box-shadow: var(--shadow-ribbon);
  width: 110px;
  height: 110px;
  clip-path: polygon(0 75%, 0 0, 100% 100%, 25% 100%);
}
.card.read::after {
  content: "READ";
  color: var(--color-ribbon-dark);
  text-shadow: 1px 1px 2px rgb(125, 200, 255);
  font-weight: 600;
  position: absolute;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.5em;
  left: 3px;
  bottom: 23px;
  transform: rotate(45deg);
}




/* modal related */

.modal-add-edit {
  inset: 0;
  width: 20rem;
  font-size: 1.5em;
  border-radius: 1rem;
  border: none;
  box-shadow: var(--box-shadow-1-out);
  background: rgba(150, 150, 150, .5);
  backdrop-filter: blur(1rem);
}
@supports not (backdrop-filter: blur(1rem)) {
  .modal-add-edit {
    background: rgb(125, 125, 125);
  }
}
.modal-add-edit::backdrop {
  box-shadow: inset 0 0 5rem black; /*can't be moved to variable*/
  backdrop-filter: blur(.25rem);
}
/* form */
.modal-add-edit ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
}
.modal-add-edit input[type="text"],
.modal-add-edit input[type="tel"] {
  font-size: 1em;
  background: none;
  box-shadow: var(--box-shadow-input);
}
label:not(:last-child) {
  font-weight: 800;
}
.modal-add-edit li:not(:last-of-type) {
  display: flex;
  flex-direction: column;
  gap: .25rem;
}
.modal-add-edit li:last-of-type {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: .75rem;
  place-items: center left;
}
.modal-add-edit input[type="checkbox"] {
  position: relative;
  appearance: none;
  margin: 0;
  width: 1.5rem;
  height: 1.5rem;
  box-shadow: var(--box-shadow-edit-in);
  border-radius: 3px;
  overflow: hidden;
  background: url(./media/icons/check.png) no-repeat center;
  background-size: 0%;
}
.modal-add-edit input[type="checkbox"]:hover {
  outline: 2px solid var(--color-1);
  outline-offset: 3px;
}
.modal-add-edit input[type="checkbox"]:checked {
  background-color: var(--color-3);
  box-shadow: var(--box-shadow-edit-out);
  transition:
    background-size 350ms cubic-bezier(.7,0,.1,2),
    background-color 150ms,
    box-shadow 150ms;
  background-size: 80%;
} .modal-add-edit input[type="checkbox"]:not(:checked) {
  transition:
    background-size 100ms,
    background-color 100ms,
    box-shadow 150ms;
  background-size: 0%;
}

/* title input anim when missing text on add/edit */
.modal-add-edit #title.no-title {
  animation: pulse 500ms;
}
@keyframes pulse {
  0%, 50%, 100% {
    background-color: rgba(0, 0, 0, 0);
  }
  25%, 75% {
    background-color: rgba(0, 0, 0, .25);
  }
}
.modal-add-edit #title:placeholder-shown {
  outline-offset: .25rem;
  outline-color: royalblue;
}

/* bottom buttons */
.modal-add-edit .buttons {
  display: flex;
  justify-content: space-evenly;
}
.modal-add-edit button {
  margin: 1rem;
  background-color: var(--color-2);
  font-size: 1em;
  padding: .5rem 2rem;
  border: none;
  border-radius: .75rem;
  box-shadow: var(--box-shadow-1-out);
} .modal-add-edit button:hover {
  background-color: var(--color-2-light);
} .modal-add-edit button:active {
  background-color: var(--color-2-dark);
  box-shadow: var(--box-shadow-1-in);
}
.modal-add-edit .delete {
  background-color: var(--color-5);
} .modal-add-edit .delete:hover {
  background-color: var(--color-5-light);
} .modal-add-edit .delete:active {
  background-color: var(--color-5-dark);
}
/* close button */
.modal-add-edit > .close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  padding: 0;
  width: 1.5rem;
  font-size: 1rem;
  margin: 0;
  font-family: cursive, 'Courier New', Courier, monospace;
  aspect-ratio: 1/1;
  background-color: var(--color-4);
} .modal-add-edit .close:hover {
  background-color: var(--color-4-light);
} .modal-add-edit .close:active {
  background-color: var(--color-4-dark);
}


/* for general use */
.hidden {
  display: none !important;
}



/* for testing */

** {
  outline: 1px solid royalblue;
}